In [8]:
import numpy as np
import pandas as pd 
import warnings

In [34]:
create_datafram = {'name':['Govind','Ritik','Babu','Jai','Ritik','Babu','Jai','Ritik','Babu','Jai'],
                   'class':[1,2,3,4,5,6,7,8,9,10],
                   'subject':['data science','dev','fullsatack','maths','data science','dev','fullsatack','maths','Bio','hindi'],
                   'college_id':['21eaycs055','21eaycs056','21eaycs057','21eaycs058','21eaycs058','21eaycs058','21eaycs058','21eaycs058','21eaycs058','21eaycs058'],
                   'mobile_number':['91667800327','8239792200','9549067089','8441950103','91667800327','8239792200','9549067089','8441950103','91667800327','8239792200'],
                   'address':['Jaipur','alwar','chikani','kuchaman city','Jaipur','alwar','chikani','kuchaman city','Jaipur','alwar']}

In [35]:
collage_df=pd.DataFrame(create_datafram)
collage_df

     name  class       subject  college_id mobile_number        address
0  Govind      1  data science  21eaycs055   91667800327         Jaipur
1   Ritik      2           dev  21eaycs056    8239792200          alwar
2    Babu      3    fullsatack  21eaycs057    9549067089        chikani
3     Jai      4         maths  21eaycs058    8441950103  kuchaman city
4   Ritik      5  data science  21eaycs058   91667800327         Jaipur
5    Babu      6           dev  21eaycs058    8239792200          alwar
6     Jai      7    fullsatack  21eaycs058    9549067089        chikani
7   Ritik      8         maths  21eaycs058    8441950103  kuchaman city
8    Babu      9           Bio  21eaycs058   91667800327         Jaipur
9     Jai     10         hindi  21eaycs058    8239792200          alwar

In [36]:
collage_df.index

RangeIndex(start=0, stop=10, step=1)

In [37]:
collage_df.shape

(10, 6)

In [38]:
collage_df.dtypes

name             object
class             int64
subject          object
college_id       object
mobile_number    object
address          object
dtype: object

                    Extracting columns from dataframe

In [39]:
collage_df[['name']]

     name
0  Govind
1   Ritik
2    Babu
3     Jai
4   Ritik
5    Babu
6     Jai
7   Ritik
8    Babu
9     Jai

In [40]:
collage_df[['name','class']]

     name  class
0  Govind      1
1   Ritik      2
2    Babu      3
3     Jai      4
4   Ritik      5
5    Babu      6
6     Jai      7
7   Ritik      8
8    Babu      9
9     Jai     10

     Slicing

In [41]:
collage_df[0:2]

     name  class       subject  college_id mobile_number address
0  Govind      1  data science  21eaycs055   91667800327  Jaipur
1   Ritik      2           dev  21eaycs056    8239792200   alwar

In [44]:
collage_df[['name','subject']][0:6]

     name       subject
0  Govind  data science
1   Ritik           dev
2    Babu    fullsatack
3     Jai         maths
4   Ritik  data science
5    Babu           dev

       Slicing with LOC and ILOC
* LOC end index inclusive
* ILOC end exclusive,
* [starting point , ending point , step point]

In [ ]:
collage_df.iloc['']

In [7]:
df=pd.read_csv("laptopPrice.csv")
df.head(10)

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0
5,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,22990,3 stars,0,0
6,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,32-bit,0 GB,Casual,No warranty,No,No,21990,3 stars,31,3
7,ASUS,Intel,Core i5,10th,8 GB,DDR4,0 GB,1024 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,58799,3 stars,0,0
8,Lenovo,Intel,Core i5,10th,4 GB,DDR4,0 GB,1024 GB,Windows,32-bit,0 GB,Casual,No warranty,No,No,49999,3 stars,0,0
9,acer,AMD,Ryzen 5,10th,4 GB,DDR4,0 GB,512 GB,Windows,32-bit,4 GB,Casual,No warranty,No,No,59990,4 stars,1946,240

### object = String

In [11]:
df.info() # Infomation of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823 entries, 0 to 822
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              823 non-null    object
 1   processor_brand    823 non-null    object
 2   processor_name     823 non-null    object
 3   processor_gnrtn    823 non-null    object
 4   ram_gb             823 non-null    object
 5   ram_type           823 non-null    object
 6   ssd                823 non-null    object
 7   hdd                823 non-null    object
 8   os                 823 non-null    object
 9   os_bit             823 non-null    object
 10  graphic_card_gb    823 non-null    object
 11  weight             823 non-null    object
 12  warranty           823 non-null    object
 13  Touchscreen        823 non-null    object
 14  msoffice           823 non-null    object
 15  Price              823 non-null    int64
 16  rating             823 non-null    object
 17  Number of Ratings  823 non-null    int64
 18  Number of Reviews  823 non-null    int64
dtypes: int64(3), object(16)
memory usage: 122.3+ KB

In [12]:
df.shape # find the shape of dataset by using shape function

(823, 19)

In [13]:
df.value_counts()

brand  processor_brand  processor_name  processor_gnrtn  ram_gb  ram_type  ssd     hdd      os       os_bit  graphic_card_gb  weight      warranty     Touchscreen  msoffice  Price  rating   Number of Ratings  Number of Reviews
Avita  Intel            Core i7         8th              8 GB    DDR4      256 GB  0 GB     Windows  64-bit  0 GB             ThinNlight  No warranty  No           No        73990  3 stars  0                  0                    6
                        Core i5         7th              8 GB    DDR4      512 GB  0 GB     Windows  64-bit  0 GB             ThinNlight  No warranty  No           No        65556  3 stars  0                  0                    3
ASUS   Intel            Core i5         11th             8 GB    LPDDR4X   512 GB  0 GB     Windows  64-bit  0 GB             Casual      1 year       Yes          No        99990  3 stars  0                  0                    2
DELL   Intel            Core i3         11th             4 GB    DDR4      256 GB  1024 GB  Windows  64-bit  0 GB             ThinNlight  1 year       No           Yes       43590  3 stars  0                  0                    2
ASUS   Intel            Core i5         11th             16 GB   DDR4      512 GB  0 GB     Windows  64-bit  0 GB             Casual      1 year       No           No        59990  3 stars  0                  0                    2
                                                                                                                                                                                                                                     ..
DELL   AMD              Ryzen 3         Not Available    8 GB    DDR4      0 GB    1024 GB  Windows  64-bit  0 GB             ThinNlight  No warranty  No           No        39990  3 stars  18                 4                    1
                                                                           256 GB  0 GB     Windows  64-bit  0 GB             ThinNlight  1 year       No           No        39990  4 stars  7                  0                    1
                                                                                                                                          No warranty  No           No        36990  4 stars  137                15                   1
                                                                                                                                                                              39490  4 stars  34                 4                    1
acer   Intel            Pentium Quad    Not Available    4 GB    DDR4      256 GB  0 GB     Windows  64-bit  0 GB             Casual      1 year       No           No        30990  4 stars  465                89                   1
Name: count, Length: 802, dtype: int64

In [16]:
df.isnull().sum()  # find the null value and sum function sbhi ka sum that how many present nullvalue in dataset

brand                0
processor_brand      0
processor_name       0
processor_gnrtn      0
ram_gb               0
ram_type             0
ssd                  0
hdd                  0
os                   0
os_bit               0
graphic_card_gb      0
weight               0
warranty             0
Touchscreen          0
msoffice             0
Price                0
rating               0
Number of Ratings    0
Number of Reviews    0
dtype: int64

In [18]:
df.duplicated().sum() # find the duplicated value

21

In [25]:
df.drop_duplicates()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,135990,3 stars,0,0
819,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,144990,3 stars,0,0
820,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,149990,3 stars,0,0
821,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,142990,3 stars,0,0
822,Lenovo,AMD,Ryzen 5,10th,8 GB,DDR4,512 GB,0 GB,DOS,64-bit,0 GB,ThinNlight,No warranty,No,No,57490,4 stars,18,4

In [26]:
df.duplicated().sum()

21

In [27]:
df['brand'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 823 entries, 0 to 822
Series name: brand
Non-Null Count  Dtype
--------------  -----
823 non-null    object
dtypes: object(1)
memory usage: 6.6+ KB

In [28]:
df['brand'].value_counts()

brand
ASUS      249
DELL      151
Lenovo    144
HP        136
acer       51
MSI        50
APPLE      28
Avita      14
Name: count, dtype: int64

In [30]:
df.head(11)

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0
5,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,22990,3 stars,0,0
6,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,32-bit,0 GB,Casual,No warranty,No,No,21990,3 stars,31,3
7,ASUS,Intel,Core i5,10th,8 GB,DDR4,0 GB,1024 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,58799,3 stars,0,0
8,Lenovo,Intel,Core i5,10th,4 GB,DDR4,0 GB,1024 GB,Windows,32-bit,0 GB,Casual,No warranty,No,No,49999,3 stars,0,0
9,acer,AMD,Ryzen 5,10th,4 GB,DDR4,0 GB,512 GB,Windows,32-bit,4 GB,Casual,No warranty,No,No,59990,4 stars,1946,240
10,acer,AMD,Ryzen 5,10th,4 GB,DDR4,0 GB,512 GB,Windows,32-bit,6 GB,Casual,No warranty,No,No,93700,4 stars,259,47